@import "normalize.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.App {
    position: relative;
}


.btn {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: #008cf0;
    border: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
}
